@use 'utilities' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 79px;
	--avatar-bg: url('https://cdn.pixabay.com/photo/2019/07/14/16/27/pen-4337521_640.jpg');
	--avatar-bg-tablet: url('https://cdn.pixabay.com/photo/2019/07/14/16/27/pen-4337521_1280.jpg');
	--avatar-bg-desktop: url('https://pixabay.com/get/g551ab7f4a41f6e6049241e7205cb4ca085a0c3e250fb19971adfe5f9ff787a0e5936d35ecd8b727f9080742215be7d0011c993bcbde2686df070be6713b14229_1920.jpg');
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: $bg-3;
}

section {
	overflow: hidden;
}

a {
	color: $txt-1;
	text-decoration: none;
}

.bg-1 {
	background-color: $bg-1;
}
.bg-1e {
	background-color: $bg-1e;
}
.bg-2 {
	background-color: $bg-2;
}
.bg-3 {
	background-color: $bg-3;
}
.txt-1 {
	color: $txt-1;
}
.txt-2 {
	color: $txt-2;
}

.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.top-hero {
	position: relative;
	height: 200px;
	background-size: cover;
	z-index: 0;
}

.top-hero-text {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 3.6rem;
	text-transform: uppercase;
}

.section-header {
	position: relative;
	top: 0;
	left: 0;
}
.section-header::after {
	content: '';
	position: absolute;
	bottom: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 0.1rem;
	background-image: linear-gradient(
		319deg,
		#00000000 0%,
		$txt-2 37%,
		#00000000 100%
	);
}

//HEADER
header {
	font-size: 2rem;
	.carousel-item {
		position: relative;
		height: 160px;
		background-position: center;
		background-size: cover;
		z-index: 0;
		box-shadow: inset 0em -2.5em 2em -2em $nav-box-shadow;
	}
	.carousel-img-one {
		background-color: $bg-2;
		background-image: linear-gradient(60deg, $bg-1 25%, $bg-2 74%);
	}
	.carousel-img-two {
		background-color: $bg-1;
		background-image: linear-gradient(60deg, $bg-2 25%, $bg-3 74%);
	}
	.carousel-img-three {
		background-color: $bg-1;
		background-image: linear-gradient(60deg, $bg-3 25%, $bg-1 74%);
	}
	.icon-code-solid {
		display: block;
		font-size: 6rem;
		text-shadow: 0px 0px 5px $txt-2;
	}
	.sd-logotype-underline {
		width: 50%;
		height: 0.2rem;
		background-image: linear-gradient(
			319deg,
			#00000000 0%,
			$txt-2 37%,
			#00000000 100%
		);
	}
	.carousel-indicators button {
		cursor: default !important;
	}
}

//NAV
.nav-box {
	height: 80px; // Fixes a bug of bouncing scroll caused by sticky-top class on nav-box
	z-index: 10000; //tooltips z-index is 1080
}

.navbar {
	transition: background-color 0.67s; //bgc changing in main.js
	&__logotype {
		display: inline-block;
		transform-origin: bottom left;
		transition: transform 0.33s;
		&--small {
			transition: color 0.67s;
		}
	}
	&__logotype:hover {
		transform: scale(1.05);
	}
	&-brand {
		outline: none;
	}
	&-brand:focus {
		.navbar__logotype {
			transform: scale(1.05);
		}
	}
}
.navbar-toggler {
	padding: 1rem 0 1rem 1rem;
	border: transparent;
	border-radius: 0px;
	border-left: 0.1rem solid #00000000;
	transition: border 0.33s;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
	box-shadow: none;
	border-left: 0.1rem solid $txt-2;
}
.navbar-toggler-icon {
	height: 3rem;
	width: 3rem;
}
.nav-bg {
	background-color: $nav-bg;
} // navbarChange in main.js

.nav-link {
	transition: color 0.167s !important;
	outline: none;
	&:focus,
	&:focus-visible,
	&:focus-within {
		box-shadow: none !important;
	}
}

//SCROLL-BAR
.scroll-bar {
	height: 0.1rem;
	width: var(--scroll-width);
	background-image: linear-gradient(
		90deg,
		#00000000 0%,
		$scrollbar 40%,
		$scrollbar 60%,
		#00000000 100%
	);
}

//HOME
.home {
	position: relative;
	top: 0;
	height: calc(100vh - 240px);
	background-color: $bg-1;
	background-image: var(--avatar-bg);
	background-size: cover;
	background-position: center;
	z-index: 0;
	.hero-shadow {
		background-color: $bg-1;
		background-image: linear-gradient(60deg, $bg-3 25%, $bg-2 75%);
		opacity: 0.8;
	}
	.btn {
		padding: 1em 2em;
		font-size: 1.4rem;
		text-transform: uppercase;
	}
}

// HERO
.hero {
	&__avatar {
		height: 220px;
		width: 220px;
		img {
			height: 100%;
			width: 100%;
		}
	}
	.btn {
		min-width: 120px;
	}
}

//ABOUT
// in //PROJECTS - animated__card

//TECH-STACK
.transition-height {
	transition: height 2s;
}
.custom-tooltip {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 2rem;
	background-color: $bg-2;
	border-radius: 0.5rem;
	font-size: 1.4rem;
	font-family: 'Montserrat', sans-serif;
}
.min-width-stack {
	min-width: 230px;
}

//STACK-EDU
#stack span {
	outline: none;
}

.accordion-button:not(.collapsed) {
	color: $txt-2;
	background-color: $bg-1;
	box-shadow: none;
}
.accordion-button:not(.collapsed)::after,
.accordion-button::after {
	background-image: url('../../dist/img/chevron-down-solid.svg');
}
.accordion-button:focus {
	border-color: #ffffff8e;
	background-color: $bg-2;
	box-shadow: none;
}

.accordion {
	border-radius: 8px;
	overflow: hidden;
}
.accordion-item {
	background: none;
	border: none;
}

.accordion-item:nth-child(odd) {
	.accordion-header {
		.accordion-button,
		.bg-1 {
			background-color: $bg-1e;
			background-image: linear-gradient(120deg, $bg-1e 0%, $bg-1 50%);
		}
	}
}
.accordion-item {
	.accordion-header {
		.accordion-button:focus {
			border-color: #ffffff8e;
			background-color: $bg-2;
			box-shadow: none;
			background-image: none;
		}
	}
}
.accordion-body {
	padding: 0;
	margin: 0;
	background-color: $bg-3;
	background-image: linear-gradient(200deg, $bg-1 0%, $bg-3 74%, $bg-1 100%);
}

.accordion-body__img {
	height: 100%;
	width: 100%;
	min-height: 200px;
	min-width: 100%;
	background-position: center;
	background-size: cover;
	border-radius: 4px;
	&--one {
		background-image: url('https://img-c.udemycdn.com/course/480x270/2355682_dee0_4.jpg');
	}
	&--two {
		background-image: url('https://img-c.udemycdn.com/course/480x270/2428430_1b96_7.jpg');
	}
	&--three {
		background-image: url('https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/zS0jlA8SaaSkgXEfWHEe');
	}
	&--four {
		background-image: url('https://img-c.udemycdn.com/course/480x270/2532868_291d_3.jpg');
	}
	&--five {
		background-image: url('https://img-c.udemycdn.com/course/480x270/2823135_2421_2.jpg');
	}
	&--six {
		background-image: url('https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/Zf75jraiQduFz2883ODx');
	}
	&--seven {
		background-image: url('https://img-c.udemycdn.com/course/480x270/4546460_f1b0_2.jpg');
	}
	&--eight {
		background-image: url('https://img-c.udemycdn.com/course/480x270/2755534_0573_2.jpg');
	}
	&--nine {
		background-image: url('https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://cdn.filestackcontent.com/qzIVXDuQC6Kps20hOcw6');
	}
	&--ten {
		background-image: url('https://img-c.udemycdn.com/course/480x270/5198548_ca58_19.jpg');
	}
	&--eleven {
		background-image: url('https://img-c.udemycdn.com/course/480x270/1362070_b9a1_2.jpg');
	}

	&--one-plus {
		background-image: url('https://img-c.udemycdn.com/course/480x270/2620050_c52d_3.jpg');
	}
	&--two-plus {
		background-image: url('https://img-c.udemycdn.com/course/480x270/5399296_4699_3.jpg');
	}
	&--three-plus {
		background-image: url('https://i.ytimg.com/vi/hv4w8swtzg0/hqdefault.jpg');
	}
	&--four-plus {
		background-image: url('https://i.ytimg.com/vi/ZBzHCSI0z5E/hqdefault.jpg');
	}

	&--one-learn {
		background-image: url('https://img-c.udemycdn.com/course/480x270/1362070_b9a1_2.jpg');
	}

	&--one-lang {
		background-image: url('https://cdn.pixabay.com/photo/2014/07/11/17/12/dictionary-390055_640.jpg');
	}
}

.stack-edu-btn {
	position: relative;
	overflow: hidden;
	z-index: 0;
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		width: 100%;
		height: 100%;
		border: rgba(255, 255, 255, 0.7) solid 1px;
		border-radius: 0.375rem;
		opacity: 0.8;
		transition: border 0.3s;
		z-index: 0;
	}
	&:focus::before,
	&:hover::before {
		border: rgba(255, 255, 255, 1) solid 1px;
	}
	h2 {
		position: relative;
		top: 0;
		left: 0;
		z-index: 10;
	}
}

//PROJECTS

.projects-card {
	outline: none;
}

.projects-btns {
	// margin: 0 10px;
	mask-image: linear-gradient(
		to right,
		transparent,
		rgb(0 0 0 / 100%),
		rgb(0 0 0 / 100%),
		rgb(0 0 0 / 100%),
		transparent
	);
	.slick-dots {
		display: flex; /* For better alignment */
		justify-content: center; /* Center the dots */
		padding: 0;
		margin: 10px 0;
		list-style: none; /* Remove list style */
	}

	.slick-dots li {
		margin: 8px 5px 0px; /* Space between dots */
	}

	.slick-dots li button {
		font-size: 0; /* Hide the number inside the button */
		width: 8px; /* Dot width */
		height: 8px; /* Dot height */
		border-radius: 50%; /* Make the button round (dot) */
		background-color: #bebebe83; /* Dot color */
		border: none; /* Remove button border */
		cursor: pointer;
		transition: background-color 0.3s;
	}

	.slick-dots li button:hover {
		background-color: #a9a9a9cc;
	}

	.slick-dots li.slick-active button {
		background-color: #fff; /* Color of the active dot */
	}
}

.btn-active {
	background-color: #ffffff2f;
}

.animated {
	&__card {
		position: relative;
		margin: 20px 0px;
		width: 100%;
		height: 320px;
		perspective: 1400px;
	}
	.front {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		border-radius: 8px;
		box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4);
		overflow: hidden;
		transition: 0.67s;
	}
	.front-rotate {
		background-image: linear-gradient(315deg, $bg-2 0%, $bg-3 74%);
		&--about {
			position: relative;
			background-image: url('https://cdn.pixabay.com/photo/2019/07/14/16/29/pen-4337524_1280.jpg');
			background-position: 50% 33%;
			z-index: 0;
			.hero-shadow {
				background-color: $bg-1;
				background-image: linear-gradient(60deg, $bg-3 25%, $bg-2 75%);
				opacity: 0.85;
			}
		}
	}
	.back {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 30px;
		background-position: center;
		background-size: cover;
		border-radius: 8px;
		text-align: center;
		opacity: 0; // 0
		box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2);
		overflow: hidden;
		transition: 0.67s;
		&--about {
			background-color: $bg-2;
		}
		--card-gradient: linear-gradient(60deg, #000000d5 0%, #00000081 100%),
			linear-gradient(319deg, #00459473 0%, #0045947e 37%, #00336ec7 100%);
		&--psvita {
			background-image: var(--card-gradient),
				url('https://cdn.pixabay.com/photo/2017/04/04/18/12/video-game-console-2202616_640.jpg');
		}
		&--todo {
			background-image: var(--card-gradient),
				url('https://cdn.pixabay.com/photo/2017/07/04/10/02/checklist-2470507_640.jpg');
		}
		&--carsspot {
			background-image: var(--card-gradient),
				url('https://cdn.pixabay.com/photo/2020/02/02/19/55/cars-4814015_640.jpg');
		}
		&--drop {
			background-image: var(--card-gradient),
				url('https://cdn.pixabay.com/photo/2015/01/01/23/55/telephone-586266_640.jpg');
		}

		a {
			text-decoration: none;
			color: $txt-1;
			transition: text-shadow 0.33s, transform 0.33s;
			&:hover,
			&:focus {
				text-shadow: 0px 0px 10px $txt-2;
				transform: scale(1.04);
				outline: none;
			}
		}
	}
	.back-links {
		position: relative;
		top: -500px;
		left: 0%;
		transition: top 0.67s;
	} // click protection from the front
	.back-rotate {
		transform: rotateX(-180deg); // -180
	}
	&__card:hover,
	&__card:focus,
	&__card:focus-within {
		.back {
			transform: rotate(0deg);
			opacity: 1;
		}
		.front-rotate {
			transform: rotateX(180deg);
			opacity: 0;
		}
		.back-links {
			top: 0px;
		}
	}
}

//CONTACT
.contact {
	&__card {
		width: 150px;
		transition: text-shadow 0.33s;
		.op {
			opacity: 1;
			transition: opacity 0.33s, transform 0.67s;
		}
		&:hover {
			text-shadow: 0px 0px 10px $bg-3;
			.op {
				text-shadow: none;
			}
		}
	}
	a {
		text-decoration: none;
		color: $txt-1;
		outline: none;
	}
	a:focus {
		text-shadow: 0px 0px 10px $bg-3;
		.op {
			opacity: 1;
			transform: scale(1.2);
		}
	}
}

//FOOTER
.footer {
	font-size: 1rem;
	color: $txt-2;
	p, span, i {
		outline: none;
	}
	a {
		color: $txt-2;
		outline: none;
	}
	.git {
		transition: color .33s;
	}
	a:hover .git, a:focus .git {
		color: $txt-1;
	}
}

/* MEDIA QUERIES  */

@media (min-width: 576px) {
	header {
		.carousel-item {
			height: 240px;
		}
		.trans-down {
			transform: translate(0px, 3px);
		}
	}

	.navbar {
		&__logotype {
			display: inline-block;
			transform-origin: center;
		}
	}
	.bg-sm-dark {
		background-color: #212529;
	}

	.home {
		height: calc(100vh - 311px);
	}

	.accordion-body__img {
		border-radius: 0px;
	}

	.footer {
		font-size: 1.1rem;
	}
}

@media (min-width: 768px) {
	header {
		.carousel-item {
			height: 240px;
		}
	}
	.home {
		background-image: var(--avatar-bg-tablet);
	}
}

@media (min-width: 992px) {
	:root {
		scroll-padding-top: 65px;
	}
	header {
		.carousel-item {
			height: 280px;
		}
	}
	.nav-box {
		height: 63px; // Fixes a bug of bouncing scroll caused by sticky-top class on nav-box
	}

	.nav-link {
		position: relative;
	}
	.nav-link,
	.nav-link::after,
	.nav-link::before {
		transition: transform 0.33s;
	}
	.nav-link::after {
		content: '';
		position: absolute;
		right: 15%;
		bottom: 0;
		width: 70%;
		height: 0.1rem;
		background-image: linear-gradient(
			319deg,
			#00000000 0%,
			$txt-2 37%,
			#00000000 100%
		);
		transform: scale(0);
	}
	.nav-link:hover::after {
		transform: scale(1);
	}

	.home {
		height: calc(100vh - 280px);
	}

	.contact {
		&__card {
			.op {
				opacity: 0;
			}
			&:hover {
				.op {
					transform: scale(1.2);
					opacity: 1;
				}
			}
		}
	}

	.animated {
		&__card {
			height: 350px;
		}
		.back {
			&--psvita {
				background-image: var(--card-gradient),
					url('https://cdn.pixabay.com/photo/2017/04/04/18/12/video-game-console-2202616_1280.jpg');
			}
			&--todo {
				background-image: var(--card-gradient),
					url('https://cdn.pixabay.com/photo/2017/07/04/10/02/checklist-2470507_1280.jpg');
			}
			&--carsspot {
				background-image: var(--card-gradient),
					url('https://cdn.pixabay.com/photo/2020/02/02/19/55/cars-4814015_1280.jpg');
			}
			&--drop {
				background-image: var(--card-gradient),
					url('https://cdn.pixabay.com/photo/2015/01/01/23/55/telephone-586266_1280.jpg');
			}
		}
	}

	.footer {
		font-size: 1.2rem;
	}
}

@media (min-width: 1200px) {
	:root {
		scroll-padding-top: 62px;
	}
	.section-header::after {
		width: 15%;
	}

	header {
		.sd-logotype {
			font-size: 7rem;
		}
		.carousel-item {
			.display-3 {
				font-size: 5rem;
			}
			.carousel-caption {
				.fs-3 {
					font-size: 2rem !important;
				}
			}
		}
	}
}

@media (min-width: 1400px) {
	header {
		.carousel-img-one {
			background-color: $bg-2;
			background-image: linear-gradient(45deg, $bg-1 25%, $bg-2 74%);
		}
		.carousel-img-two {
			background-color: $bg-1;
			background-image: linear-gradient(45deg, $bg-2 25%, $bg-3 74%);
		}
		.carousel-img-three {
			background-color: $bg-1;
			background-image: linear-gradient(45deg, $bg-3 25%, $bg-1 74%);
		}
		.maxwidth-header-btns {
			position: relative;
			top: -150px; // about half of .carousel-item height from 992px breakpoint
		}
	}

	.home {
		background-image: var(--avatar-bg-desktop);
	}
}
