@use 'utilities' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: $main-color;
}

//NAV
.navbar {
	&__logotype {
		display: inline-block;
		transform-origin: bottom left;
		transition: transform 0.33s;
		&--small {
			transition: color 0.67s;
		}
	}
	&__logotype:hover {
		transform: scale(1.05);
		& + p {
			color: $txt-2;
		}
	}
}

.navbar-toggler {
	padding: 1rem 0 1rem 1rem;
	border: transparent;
	border-radius: 0px;
	border-left: 0.1rem solid #00000000;
	transition: border .33s;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
	box-shadow: none;
	border-left: 0.1rem solid $txt-2;
}
.navbar-toggler-icon {
	height: 3rem;
	width: 3rem;
}

//FOOTER

.footer {
	font-size: 1rem;
	color: $txt-2;
}

/* MEDIA QUERIES  */

@media (min-width: 576px) {
	.navbar {
		&__logotype {
			display: inline-block;
			transform-origin: center;
		}
	}

	.footer {
		font-size: 1.1rem;
	}
}

@media (min-width: 992px) {
	.nav-link {
		position: relative;
	}
	.nav-link,
	.nav-link::after,
	.nav-link::before {
		transition: transform 0.33s;
	}
	.nav-link::after {
		content: '';
		position: absolute;
		right: 15%;
		bottom: 0;
		width: 70%;
		height: 0.1rem;
		background-image: linear-gradient(319deg, #00000000 0%, $txt-2 37%, #00000000 100%);
		transform: scale(0);
	}
	.nav-link:hover::after {
		transform: scale(1);
	}

	.footer {
		font-size: 1.2rem;
	}
}
