$main-color: #0b2545;
$bg-1: #13315c;
$bg-1e: #16396b;
$bg-2: #134074;
$bg-3: #0b2545;

$txt-1: #eef4ed;
$txt-2: #8da9c4;

$nav-box-shadow: #1340748e;
$nav-bg: #00152a;  // add later onscroll on sections
$nav-border: $bg-3;
$scrollbar: #b5b5b5;

.custom-tooltip {
	--bs-tooltip-bg: #134074;
	--bs-tooltip-color: #eef4ed;
}

// USED BEFORE
// $nav-border: #495057;