@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?2t0564');
	src: url('../fonts/icomoon.eot?2t0564#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?2t0564') format('truetype'), url('../icomoon.woff?2t0564') format('woff'),
		url('../fonts/icomoon.svg?2t0564#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	// speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.ico-op {
	opacity: 0.3;
}

.icon-adobexd:before {
	content: '\e917';
}
.icon-bootstrap:before {
	content: '\e900';
}
.icon-css3-alt:before {
	content: '\e901';
}
.icon-figma:before {
	content: '\e902';
}
.icon-gimp:before {
	content: '\e903';
}
.icon-github:before {
	content: '\e904';
}
.icon-gulp:before {
	content: '\e905';
}
.icon-html5:before {
	content: '\e906';
}
.icon-js:before {
	content: '\e907';
}
.icon-magnifying-glass-arrow-right-solid:before {
	content: '\e908';
}
.icon-magnifying-glass-solid:before {
	content: '\e909';
}
.icon-node:before {
	content: '\e90a';
}
.icon-node-js:before {
	content: '\e90b';
}
.icon-photoshop:before {
	content: '\e90c';
}
.icon-php:before {
	content: '\e90d';
}
.icon-react:before {
	content: '\e90e';
}
.icon-searchengin:before {
	content: '\e910';
}
.icon-tailwind:before {
	content: '\e911';
}
.icon-tailwindcss-wordmark:before {
	content: '\e912';
}
.icon-visual-studio-code:before {
	content: '\e913';
}
.icon-visualstudio-wordmark:before {
	content: '\e914';
}
.icon-wordpress:before {
	content: '\e916';
}
.icon-wordpress-simple:before {
	content: '\e915';
}
.icon-code-solid:before {
	content: '\e919';
}
.icon-envelope-solid:before {
	content: '\e91c';
}
.icon-facebook:before {
	content: '\e91b';
}
.icon-facebook-messenger:before {
	content: '\e91d';
}
.icon-mobile-screen-solid:before {
	content: '\e91a';
}
.icon-npm:before {
	content: '\e918';
}
.icon-sass:before {
	content: '\e90f';
}
.icon-share-nodes-solid:before {
	content: '\e91e';
}
.icon-timeline:before {
	content: '\e91f';
}


@font-face {
	font-family: 'iconz';
	src:  url('../fonts/iconz.eot?xwcn38');
	src:  url('../fonts/iconz.eot?xwcn38#iefix') format('embedded-opentype'),
	  url('../fonts/iconz.ttf?xwcn38') format('truetype'),
	  url('../fonts/iconz.woff?xwcn38') format('woff'),
	  url('../fonts/iconz.svg?xwcn38#iconz') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  [class^="iconz-"], [class*=" iconz-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'iconz' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .iconz-angular:before {
	content: "\e900";
  }
  .iconz-canva:before {
	content: "\e901";
  }
  .iconz-design:before {
	content: "\e902";
  }
  .iconz-discord-alt:before {
	content: "\e903";
  }
  .iconz-django:before {
	content: "\e904";
  }
  .iconz-djangorest-plan:before {
	content: "\e905";
  }
  .iconz-djangorest-wordmark:before {
	content: "\e906";
  }
  .iconz-django-solid .path1:before {
	content: "\e907";
	color: rgb(0, 0, 0);
  }
  .iconz-django-solid .path2:before {
	content: "\e908";
	margin-left: -1em;
	color: rgb(255, 255, 255);
  }
  .iconz-django-solid .path3:before {
	content: "\e909";
	margin-left: -1em;
	color: rgb(255, 255, 255);
  }
  .iconz-express:before {
	content: "\e90a";
  }
  .iconz-jira:before {
	content: "\e90b";
  }
  .iconz-mockup:before {
	content: "\e90c";
  }
  .iconz-mongodb:before {
	content: "\e90d";
  }
  .iconz-nestjs:before {
	content: "\e90e";
  }
  .iconz-nextjs:before {
	content: "\e90f";
  }
  .iconz-nuxtjs:before {
	content: "\e910";
  }
  .iconz-pagespeed:before {
	content: "\e911";
  }
  .iconz-pixijs:before {
	content: "\e912";
  }
  .iconz-python:before {
	content: "\e913";
  }
  .iconz-redux:before {
	content: "\e914";
  }
  .iconz-seo:before {
	content: "\e915";
  }
  .iconz-seo-line:before {
	content: "\e916";
  }
  .iconz-threejs:before {
	content: "\e917";
  }
  .iconz-typescript:before {
	content: "\e918";
  }
  .iconz-vite:before {
	content: "\e919";
  }
  .iconz-vue:before {
	content: "\e91a";
  }
  .iconz-vue-solid:before {
	content: "\e91b";
  }
  .iconz-woo:before {
	content: "\e91c";
  }
  .iconz-wordpress2:before {
	content: "\e91d";
  }
  .iconz-wordpress-brands-solid:before {
	content: "\e91e";
  }
  